<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <description>
        </description>
        <display-name>
            TreeNetInq</display-name>
        <servlet-name>TreeNetInq</servlet-name>
        <servlet-class>com.treetop.controller.treenet.CtlTreeNet</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>
            TreeNetList</display-name>
        <servlet-name>TreeNetList</servlet-name>
        <servlet-class>com.treetop.controller.treenet.CtlTreeNet</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>
            CtlCOANew</display-name>
        <servlet-name>CtlCOANew</servlet-name>
        <servlet-class>
            com.treetop.app.coa.CtlCOANew</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>
            CtlCodeDate</display-name>
        <servlet-name>CtlCodeDate</servlet-name>
        <servlet-class>
            com.treetop.app.item.CtlCodeDate</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>
            CtlDataSet</display-name>
        <servlet-name>CtlDataSet</servlet-name>
        <servlet-class>
            com.treetop.app.dataset.CtlDataSet</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>
            CtlEmail</display-name>
        <servlet-name>CtlEmail</servlet-name>
        <servlet-class>
            com.treetop.app.email.CtlEmail</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>
            CtlFinance</display-name>
        <servlet-name>CtlFinance</servlet-name>
        <servlet-class>
            com.treetop.app.finance.CtlFinance</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>
            CtlForms</display-name>
        <servlet-name>CtlForms</servlet-name>
        <servlet-class>
            com.treetop.servlets.CtlForms</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>
            CtlFunction</display-name>
        <servlet-name>CtlFunction</servlet-name>
        <servlet-class>
            com.treetop.app.function.CtlFunction</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>
            CtlGTIN</display-name>
        <servlet-name>CtlGTIN</servlet-name>
        <servlet-class>
            com.treetop.app.gtin.CtlGTIN</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>
            CtlInventoryNew</display-name>
        <servlet-name>CtlInventoryNew</servlet-name>
        <servlet-class>
            com.treetop.app.inventory.CtlInventoryNew</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>
            CtlItem</display-name>
        <servlet-name>CtlItem</servlet-name>
        <servlet-class>
            com.treetop.app.item.CtlItem</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>
            CtlKeyValues</display-name>
        <servlet-name>CtlKeyValues</servlet-name>
        <servlet-class>
            com.treetop.app.CtlKeyValues</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>
            CtlLabelTemplates</display-name>
        <servlet-name>CtlLabelTemplates</servlet-name>
        <servlet-class>
            com.treetop.servlets.CtlLabelTemplates</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>
            CtlPlanning</display-name>
        <servlet-name>CtlPlanning</servlet-name>
        <servlet-class>
            com.treetop.app.planning.CtlPlanning</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>
            CtlPromotion</display-name>
        <servlet-name>CtlPromotion</servlet-name>
        <servlet-class>
            com.treetop.app.promotion.CtlPromotion</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>
            CtlRandDFormula</display-name>
        <servlet-name>CtlRandDFormula</servlet-name>
        <servlet-class>
            com.treetop.servlets.CtlRandDFormula</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>
            CtlRawFruit</display-name>
        <servlet-name>CtlRawFruit</servlet-name>
        <servlet-class>
            com.treetop.app.rawfruit.CtlRawFruit</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>
            CtlResourceNew</display-name>
        <servlet-name>CtlResourceNew</servlet-name>
        <servlet-class>
            com.treetop.app.resource.CtlResourceNew</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>
            CtlSampleCustomer</display-name>
        <servlet-name>CtlSampleCustomer</servlet-name>
        <servlet-class>
            com.treetop.servlets.CtlSampleCustomer</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>
            CtlSampleRequest</display-name>
        <servlet-name>CtlSampleRequest</servlet-name>
        <servlet-class>
            com.treetop.servlets.CtlSampleRequest</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>
            CtlSampleUsers</display-name>
        <servlet-name>CtlSampleUsers</servlet-name>
        <servlet-class>
            com.treetop.servlets.CtlSampleUsers</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>
            CtlSpecification</display-name>
        <servlet-name>CtlSpecification</servlet-name>
        <servlet-class>
            com.treetop.servlets.CtlSpecification</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>
            CtlSpecificationNEW</display-name>
        <servlet-name>CtlSpecificationNEW</servlet-name>
        <servlet-class>
            com.treetop.app.specification.CtlSpecificationNEW</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>
            CtlTransaction</display-name>
        <servlet-name>CtlTransaction</servlet-name>
        <servlet-class>
            com.treetop.app.transaction.CtlTransaction</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>
            TTISecurity</display-name>
        <servlet-name>TTISecurity</servlet-name>
        <servlet-class>
            com.treetop.servlets.TTISecurity</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>
            TTILogon</display-name>
        <servlet-name>TTILogon</servlet-name>
        <servlet-class>
            com.treetop.servlets.TTILogon</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>
            ServerStartUp</display-name>
        <servlet-name>ServerStartUp</servlet-name>
        <servlet-class>
            com.treetop.app.treenet.ServerStartUp</servlet-class>
        <load-on-startup>-1</load-on-startup>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>
            CtlPFAutomation</display-name>
        <servlet-name>CtlPFAutomation</servlet-name>
        <servlet-class>
            com.treetop.app.plantfloorautomation.CtlPFAutomation</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>
            CtlQuality</display-name>
        <servlet-name>CtlQuality</servlet-name>
        <servlet-class>
            com.treetop.app.quality.CtlQuality</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>
            VerifyLogOn1</display-name>
        <servlet-name>VerifyLogOn1</servlet-name>
        <servlet-class>
            com.treetop.servlets.VerifyLogOn1</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>CtlBilling</display-name>
        <servlet-name>CtlBilling</servlet-name>
        <servlet-class>com.treetop.controller.contractmanufacturing.CtlBilling</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>StringToPng</display-name>
        <servlet-name>StringToPng</servlet-name>
        <servlet-class>com.treetop.utilities.html.StringToPng</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>CtlComments</display-name>
        <servlet-name>CtlComments</servlet-name>
        <servlet-class>com.treetop.controller.comments.CtlComments</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>CtlBudget</display-name>
        <servlet-name>CtlBudget</servlet-name>
        <servlet-class>com.treetop.controller.budget.CtlBudget</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>CtlOperations</display-name>
        <servlet-name>CtlOperations</servlet-name>
        <servlet-class>com.treetop.controller.operations.CtlOperations</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>CtlOperationsUtilities</display-name>
        <servlet-name>CtlOperationsUtilities</servlet-name>
        <servlet-class>com.treetop.controller.operationsUtilities.CtlOperationsUtilities</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>CtlTrackAndTrace</display-name>
        <servlet-name>CtlTrackAndTrace</servlet-name>
        <servlet-class>com.treetop.controller.trackandtrace.CtlTrackAndTrace</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>CtlSubLot</display-name>
        <servlet-name>CtlSubLot</servlet-name>
        <servlet-class>com.treetop.controller.sublot.CtlSubLot</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>CtlQualityStatement</display-name>
        <servlet-name>CtlQualityStatement</servlet-name>
        <servlet-class>com.treetop.controller.quality.CtlQualityStatement</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>CtlThermal</display-name>
        <servlet-name>CtlThermal</servlet-name>
        <servlet-class>com.treetop.controller.thermal.CtlThermal</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>CtlBlending</display-name>
        <servlet-name>CtlBlending</servlet-name>
        <servlet-class>com.treetop.controller.blending.CtlBlending</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CtlRawFruitAgreements</servlet-name>
        <servlet-class>com.treetop.controller.rawfruitagreements.CtlRawFruitAgreements</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TreeNetInq</servlet-name>
        <url-pattern>/TreeNetInq</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TreeNetList</servlet-name>
        <url-pattern>/TreeNetList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtlCOANew</servlet-name>
        <url-pattern>/CtlCOANew</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtlCodeDate</servlet-name>
        <url-pattern>/CtlCodeDate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtlDataSet</servlet-name>
        <url-pattern>/CtlDataSet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtlEmail</servlet-name>
        <url-pattern>/CtlEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtlFinance</servlet-name>
        <url-pattern>/CtlFinance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtlForms</servlet-name>
        <url-pattern>/CtlForms</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtlFunction</servlet-name>
        <url-pattern>/CtlFunction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtlGTIN</servlet-name>
        <url-pattern>/CtlGTIN</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtlInventoryNew</servlet-name>
        <url-pattern>/CtlInventoryNew</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtlItem</servlet-name>
        <url-pattern>/CtlItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtlKeyValues</servlet-name>
        <url-pattern>/CtlKeyValues</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtlLabelTemplates</servlet-name>
        <url-pattern>/CtlLabelTemplates</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtlPlanning</servlet-name>
        <url-pattern>/CtlPlanning</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtlPromotion</servlet-name>
        <url-pattern>/CtlPromotion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtlRandDFormula</servlet-name>
        <url-pattern>/CtlRandDFormula</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtlRawFruit</servlet-name>
        <url-pattern>/CtlRawFruit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtlResourceNew</servlet-name>
        <url-pattern>/CtlResourceNew</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtlSampleCustomer</servlet-name>
        <url-pattern>/CtlSampleCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtlSampleRequest</servlet-name>
        <url-pattern>/CtlSampleRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtlSampleUsers</servlet-name>
        <url-pattern>/CtlSampleUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtlSpecification</servlet-name>
        <url-pattern>/CtlSpecification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtlSpecificationNEW</servlet-name>
        <url-pattern>/CtlSpecificationNEW</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtlTransaction</servlet-name>
        <url-pattern>/CtlTransaction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TTISecurity</servlet-name>
        <url-pattern>/TTISecurity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TTILogon</servlet-name>
        <url-pattern>/TTILogon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServerStartUp</servlet-name>
        <url-pattern>/ServerStartUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtlPFAutomation</servlet-name>
        <url-pattern>/CtlPFAutomation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtlQuality</servlet-name>
        <url-pattern>/CtlQuality</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyLogOn1</servlet-name>
        <url-pattern>/VerifyLogOn1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtlBilling</servlet-name>
        <url-pattern>/CtlBilling</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StringToPng</servlet-name>
        <url-pattern>/StringToPng</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtlComments</servlet-name>
        <url-pattern>/CtlComments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtlBudget</servlet-name>
        <url-pattern>/CtlBudget</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtlOperationsUtilities</servlet-name>
        <url-pattern>/CtlOperationsUtilities</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtlOperations</servlet-name>
        <url-pattern>/CtlOperations/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtlTrackAndTrace</servlet-name>
        <url-pattern>/CtlTrackAndTrace</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtlSubLot</servlet-name>
        <url-pattern>/CtlSubLot/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtlQualityStatement</servlet-name>
        <url-pattern>/CtlQualityStatement/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtlThermal</servlet-name>
        <url-pattern>/CtlThermal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtlBlending</servlet-name>
        <url-pattern>/CtlBlending/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtlRawFruitAgreements</servlet-name>
        <url-pattern>/CtlRawFruitAgreements/*</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>

</web-app>